# Common
.DS_Store
Thumbs.db
.idea/
.vscode/
*.code-workspace
build/
dist/
*.log
logs/
.cache/
tmp/
.ipynb_checkpoints/

# Data & models (keep readmes/.gitkeep)
data/**
!data/.gitkeep
models/**
!models/.gitkeep

# MPLAB X (PIC/XC8)
nbproject/private/
build/
dist/
*.X/nbproject/private/
*.X/build/
*.X/dist/
